/* Layout */
.container {
	margin: 0 auto;
	max-width: var(--container-width);
}

.primary {
	min-height: calc(100vh - 258px);
	padding: 0 var(--gutter-width);
}

@media (--bp-large) {

	.primary {
		padding: 0;
	}
}
